@font-face {
  font-family: 'google_sansregular';
  src: url('Resources/googlesans-regular-webfont.woff2') format('woff2'),
       url('Resources/googlesans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'google_sansregular';
}


.nav-wrapper{
  padding-left: 5%;
  padding-right: 3%;
}

.main-sidebar{
  width: 300px;
  height: 945px;
}

.main-sidebar-wrapper{
  position: fixed;
  margin-top: -0.4%;
}

.logo-image {
  height: 24%;
  width: 24%; 
  margin-top: 13px;
  display: flex;
  align-items: center;
}

.main-loader {
  height: 4%;
  width: 4%;
}

.vote-card{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
}

#toast-container {
  top: auto !important;
  right: auto !important;
  width: 410px;
  bottom: 88%;
  left:40%;  
}

